
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li img {
	margin: 1px;
    padding: 1px;
}

li img:hover {
    background-color: #111;
}
.div-display {
	padding: 40px 90px;
	text-align: left;
	width: 40%;
	height: 300px;
	border-bottom-color: aqua;/* not working */
	border: thin; /* not working */
}
